.app
{
  background-color: black;
}
.boul
{
  width: 20%;
  float: right;
  background-color: brown;
  padding: 5px;
  border: 5px solid orange;
  font-weight: bold;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.proverbe
{
  width: 20%;
  float: left;
  background-color: brown;
padding: 5px;
border: 5px solid orange;
font-weight: bold;
font-size: 30px;
color: rgb(255, 255, 255);
}
